    <!-- BANNER HOME -->

<div class="banner banner-home"data-stellar-background-ratio="0.5">
  <div class="wrapper-black">
    <h1>ADOPTE UN STYLE</h1>
    <h2>La meilleure sélection mode</h2>
    <%= link_to "Je commence", "#", class: "btn btn-primary" %>
  </div>
</div>


<div class="wrapper-feature text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>1</span>
          <div><p>Choisis et adopte ton style</p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>2</span>
          <div><p>AdopteUnStyle te sélectionne les meilleurs articles de mode</p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>3</span>
          <div><p>AdopteUnStyle te redirige vers tes fabriquants préférés</p></div>
        </div>
      </div>
  </div>

  </div>
</div>

<div class="banner banner-parallax banner-parallax1" data-stellar-background-ratio="0.5">
 <div class="wrapper-white">
  <h1>Tous vos articles sur www.adopteunstyle.com</h1>
  <p>Vos actus mode et les dernières tendances de vêtements et accessoires sont sur le site de AdotpeUnStyle. Livraison et retours gratuits sur toutes les commandes.</p>
 </div>

</div>


<div class="wrapper-features padded">
  <div class="features text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "feature1.png", class: "image-chiffre"%>
          <p class="text-center">Trouvez parmis</p>
          <h2 class="text-center">100 000 références</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "partner-feature.png", class: "image-chiffre"%>
          <p class="text-center">Nous travaillons avec</p>
          <h2 class="text-center">55 partenaires</h2>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "slide1.jpg"%>
      <div class="carousel-caption">
        <h2>Profitez des mêmes prix qu'en magasin.</h2>
      </div>
    </div>
    <div class="item">
    <%= image_tag "slide5.jpg"%>
      <div class="carousel-caption">
        <h2>Retrouvez une sélection de marques et créateurs incontournables.</h2>
      </div>
    </div>
    <div class="item">
    <%= image_tag "slide4.jpg"%>
      <div class="carousel-caption">
        <h2>Recevez des conseils personnalisés d'une experte de la mode.</h2>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<div class="wrapper-temoignage padded bg-grey text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage1.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage2.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage3.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <%= link_to "Je commence", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="banner banner-parallax banner-parallax2" data-stellar-background-ratio="0.5">
 <div class="wrapper-black">
  <!-- <h1>www.adopteunstyle.com</h1> -->
  <div class="newsletter text-center">
         <h2>STAY IN TOUCH</h2>
         <p>Sign Up for Email Updates on on News & Offers</p>
         <form class="form-inline text-center">
          <input placeholder="Enter your email address" class="form-control" type="email" name="email">
          <button type="submit" class="navbar-wagon-item navbar-wagon-button btn">Subscribe</button>
         </form>
        </div>
 </div>
</div>





<div class="wrapper-form">
<div class="text-center">
<h3><strong>GET IN TOUCH</strong></h3>
<p>Have any question? Drop us a message. We will get back to you in 24 hours.</p>
</div>
<div class="container">


      <form class="form-horizontal">
          <div class="form-group">

              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Your name"" ">
              </div>
            </div>
          <div class="form-group">

              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Subject">
              </div>
            </div>
            <div class="form-group">

              <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group">

              <div class="col-sm-12">
                <textarea type="text" class="form-control" id="inputText" rows="9" placeholder="Contact us !"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Valider</button>
              </div>
            </div>
          </form>


</div>
</div>



