    <!-- BANNER HOME -->

<div class="banner" data-stellar-background-ratio="0.5">
  <div class="content2">
    <h1>ADOPTE UN STYLE</h1>
    <h2>La meilleure sélection mode</h2>
    <%= link_to "Je commence", "#", class: "btn btn-primary" %>
  </div>
</div>


<div class="wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>1</span>
          <h2>AdopteUnStyle</h2>
          <div><p>Choisis et adopte ton style</p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>2</span>
          <h2>AdopteUnStyle</h2>
          <div><p>AdopteUnStyle te sélectionne les meilleurs articles de mode</p></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature">
          <span>3</span>
          <h2>AdopteUnStyle</h2>
          <div><p>AdopteUnStyle te redirige vers tes fabriquants préférés</p></div>
        </div>
      </div>
  </div>

  </div>
</div>

<div id="home-parallax" data-stellar-background-ratio="0.5">
 <div class="content">
  <h1>Tous vos article sur www.adopteunstyle.com</h1>
  <p>Vos actus mode et les dernières tendances de vêtements et accessoires sont sur le site de AdotpeUnStyle. Livraison et retours gratuits sur toutes les commandes.</p>
 </div>

</div>


<div class="wrapper-features padded">
  <div class="features text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "feature1.png", class: ""%>
          <p class="text-center">Trouvez parmis</p>
          <h2 class="text-center">100 000 références</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "partner-feature.png", class: "image-chiffre"%>
          <p class="text-center">Nous travaillons avec</p>
          <h2 class="text-center">55 partenaires</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-temoignage padded bg-grey text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage1.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage2.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="record">
          <%= image_tag "visage3.jpg", class: "avatar-bordered-large"%>
        </div>
        <p>"Parmi toutes nos précédentes icône de mode, pas une seule n’a la « particularité physique » de celle d’aujourd’hui. En effet, nous ne nous étions pas encore intéressés à un petit rouquemoute."</p>
      </div>
      <%= link_to "Je commence", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div id="home2-parallax" data-stellar-background-ratio="0.5">
 <div class="content2">
  <h1>www.adopteunstyle.com</h1>
 </div>
</div>


