Tous les produits :


  <% @products.each do |p| %>
<div class="container">
  <div class="row">
    <img src="<%= p.image %>" alt="Smiley face" height="200" width="150">
    <p><strong><%= p.title %></strong></p>
    <p><%= p.description %></p>
    <p>Tailles disponibles :<%= p.size %></p>
    <p>Prix : <%= p.price %>€</p>
    <p>Couleur : <%= p.color %></p>
    <p><%= p.category %></p>
    <p><a class="btn btn-danger" href="<%= p.link %>" role="button">Voir le produit</a></p>
    <% end %>
  </div>

<div class="container padded-basket text-center">
<%= link_to "Rechercher un style", new_product_path, :class => "btn btn-danger" %>
</div>



