<h2 class="text-center">Produits disponibles auprés de nos partenaires correspondant à votre choix :</h2>

<div class="container">
  <div class="row">
    <% @products.each do |p| %>
    <li>
  <%= p.title %>
  <%= p.description %>
  <%= p.size %>
  <%= p.price %>
  <%= p.color %>
  <%= p.brand %>
  <%= p.product_type %>
</li>
  <% end %>
</ul>
 </div>
</div>

<div class="container padded-basket text-center">
<%= link_to "Rechercher un style", new_product_path, :class => "btn btn-danger" %>
</div>



