
<div class="wrapper">
  <h1 class="text-center">Voici les articles de votre look préféré :</h1>
  <h5 class="text-center"><%= Product.count %> articles trouvés grâce à <%= Brand.count %> marques</h5>

    <div class="sidebar-wrapper">
      <div class="sidebar-nav">
          <h4 class="text-center">Filtrez par categories</h4>
          <ul>
          <% @categories.each do |category| %>
            <li><a href="#"><%= category %></a></li>
            <% end %>
          </ul>
          <h4 class="text-center">Filtrez par couleurs</h4>
          <ul>
          <% @colors.each do |color| %>
            <li><a href="#"><%= color %></a></li>
            <% end %>
          </ul>
      </div>
    </div>
  <div class="page-content-wrapper">
    <div class="container container-full">
      <div class="row">
          <% @products.each do |p| %>
            <div class="col-xs-12 col-md-4">
              <div class="card-product">
                  <%= image_tag p.image%>
                  <div class="card-title">
                    <%= p.title_short %>
                  </div>
                  <div class="card-price">
                    <p><%= p.offers.first.price %>€</p>
                  </div>
                  <%= link_to product_path(p), class: "card-detail"  do %>
                    <i class="fa fa-info-circle"> </i>
                  <%end%>
                <%= link_to "Voir l'offre chez #{p.best_offer.supplier}", p.best_offer.link,  class: "btn  btn-danger btn-block card-cta", target: "blank"%>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container padded-basket text-center">
  <p><%= link_to "Choisir un autre look", looks_path, :class => "btn btn-danger" %>
  <%= link_to "Voir tous les produits", products_path, :class => "btn btn-danger" %></p>
</div>
</div>
