
<h1 class="text-center">Détail de l'article :</h1>

<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
          <p><strong>Annonce :</strong> "<%= @product.title %>"</p>
          <p><strong>Description de l'annonce :</strong><br><%= @product.description %></p>
          <p><strong>Prix : </strong><%= @product.price %>€</p>
          <p><strong>Date : </strong><%= @product.size %></p>
          <div class="btn-group padded-product">

            <%= link_to "Caca boum boum", "#", :class => "btn btn-danger" %>
<!--             <%= link_to "Retour à la liste", root_path, :class => "btn btn-danger" %> <-->      </div>
          <div class="padded-product">
            <%= link_to "Voir toutes les annonces", products_path, :class => "btn btn-danger" %>
          </div>
          <div class="padded-product">
            <%= link_to "Supprimer cette annonce", products_path, method: :delete, :class => "btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

